{% extends 'data_entry/base.html' %}
{% block content %}
    <H1>{{owner.first_name}} {{owner.last_name}}</H1>
        <dl>
            <dt> Name</dt>
            <dd>{{owner.first_name}} {{owner.last_name}}</dd>
            <dt>Personal Email</dt>
            <dd>{{owner.personal_email}}</dd>
            <dt>Corp Email</dt>
            <dd>{{owner.corp_email}}</dd>
            <dt>Phone 1</dt>
            <dd>{{owner.phone_1}}</dd>
            {% if owner.phone_2 == null %}<dt>Phone 2</dt>
            <dd>{{owner.phone_2}}</dd>
            {% else %}
            {% endif %}
            <dt>Current Home Address</dt>
            <dd>{{owner.home_address}}</dd>
            {% if owner.old_home_address != "" %}<dt>Previous Home Address</dt>
            <dd>{{owner.old_home_address}}</dd>
            {% else %}
            {% endif %}
            <dt>SSN</dt>
            <dd>{{owner.ssn}}</dd>
            <dt>Corp name</dt>
            <dd>{{owner.corp_name}}</dd>
            {% if owner.second_corp != "" %}}<dt>Second Corp</dt>
            <dd>{{owner.second_corp}}</dd>
            {% else %}
            {% endif %}
            <dt>Referral</dt>
            <dd>{{owner.referral}}</dd>
            <dt>DOB</dt>
            <dd>{{owner.date_of_birth}}</dd>
            <dt>Contact Type</dt>
            <dd>{{owner.contact_type}}</dd>
            <dt>Account Manager</dt>
            <dd>{{owner.account_manager}}</dd>
            <dt>Gdive</dt>
            <dd>{{owner.gdrive}}</dd>
    </dl>
    <a href="/update_owner">Update</a>
{% endblock content %}
