{% extends 'data_entry/base.html' %}
{% block content %}
    <H1>Owner List</H1>
    <table class="table">
        <thead>
            <tr>
                <th>Owner Name</th>
                <th>Corp Name</th>
                <th>Contact Type</th>
            </tr>
        </thead>
        <tbody>
        {% for corp in corps %}
            <tr>
                <td>
                    {% if perms.users.is_admin %}<a href="{% url 'owner' corp.owner_id %}">{{corp.last_name}}, {{corp.first_name}}</a>
                    {% elif perms.users.is_appstaff %}<a href="{% url 'owner' corp.owner_id %}">{{corp.last_name}}, {{corp.first_name}}</a>
                    {% else %}<a href="{% url 'restricted' corp.owner_id %}">{{corp.last_name}}, {{corp.first_name}}</a>
                    {% endif %}
                </td>
                <td>{{corp.corp_name}}</td>
                <td>{{corp.contact_type}}</td>
            </tr>
        {% endfor %}            
        </tbody>
{% endblock content %} 